
@import "../../../styles/variables.scss";

.box-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey2-color;
}

.tab-list {
  width: 700px;
}

.text-tab {
  color: $white-color !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.MuiTabs-indicator {
  background-color: $secondary-color !important;
}

.MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: $white-color !important;
}
