
@import "../../../styles/variables.scss";

.box-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey2-color;
}

.tab-list {
  width: 70%;
}
.MuiTab-root {
  color: $white-color !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
}
.MuiTabs-indicator {
  background-color: $secondary-color !important;
}
.MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: $white-color !important;
}

.sort {
  align-items: center;
  display: flex;
  justify-content: space-around;
}