@import "../../../styles/variables.scss";

.contentNav {
  padding: 0 60px;
}

.boxTabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey2-color;
}

.tabList {
  width: 700px;
}
