@import "../../../styles/variables.scss";

.netflix {
  color: $secondary-color;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.roulette {
  color: $secondary-color;
  font-style: normal;
  font-weight: 100;
}