@import "../../../styles/variables.scss";

.content-search {
  align-items: center;
  display: flex;
  justify-content: center;
}

.MuiOutlinedInput-root {
  color: $white-color !important;
  background: rgba(50, 50, 50, 0.8);
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  height: 57px;
  width: 713px;
}

.btn-search {
  background-color: $secondary-color !important;
  border-radius: 4px;
  color: $white-color;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  height: 57px;
  margin-left: 15px !important;
  text-transform: uppercase;
  width: 233px;
}