@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "./variables.scss";

html {
  margin: 0;
}
body {
  background-color: $primary-color;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  overflow-x: none;
}