.content-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 800px;
}

input[type=text], select {
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.box {
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 0 5px;
  text-align: justify;
  width: 550px;
}

.title-company {
  font-size: 18px;
  font-weight: bold;
}